@media (min-width: 0px) and (max-width: 800px) {
  .navBar {
    display: none;
  }

  .navbar img {
    width: 0%;
    height: 0%;
  }

  .in-inmid {
    flex-wrap: wrap;
  }
  .infoot {
    width: 100%;
  }
}
  @media (min-width:800px) {
    .topnav {
      display: none;
    }
  }