body {
  background-color:white;
  text-align: center;
  margin: 0;
  padding: 0;

}
.containerMain {
  background-color: white;
  display: grid;
  margin: -1px 2px -32px 0px;
  font-family: "Baloo 2", cursive;
}
.navBar {
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 8px;
}
.navBar a:hover {
  color: #00c206;
}
span {
  margin: 0px 40px 0px 20px;
}
.row {
  margin-top: -10px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.jump {
  background-color: #000000;
}
.img {
  margin: 4px 10px -10px 0px;
}
.stuff {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: white;
}

.stuff2 {
  background-color: brown;
}
.stuff h3 {
  margin: 0px 0px -5px 0px;
}
.inmid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 3vw;
  margin-top: 10px;
  /* grid-template-columns: auto; */
  /* grid-gap: 4px; */
}

svg {
  width: 8vw;
  height: 8vh;
}
@media (min-width: 1200px) {
  .inmid {
    font-size: 20px;
  }
}
.inmids {
  text-align: center;
  padding: 10px 20px;
  margin: 2rem;
  
}

.industrial {
  background-color: white;
  color: rgb(0, 0, 0);
}
.realEstate {
  background-color: white;
  color: rgb(0, 0, 0);
}
.museum {
  background-color: white;
  color: black;
}
.gastronomy {
  background-color:white;
  color: black;
}
@media (min-width:800px) {
  .topnav {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .navBar {
    display: none;
  }
  .inmid {
    background-position: center;
    background-image: url('3d2.jpg');
    background-attachment: fixed;
    border-image-width: auto;
  }
  .inmids {
    opacity: 0.5;
    border-radius: 50%;
  }
 .inmids a {
  color: #ffffff;
 }
 .inmids h5 {
   color: black;
 }
  .inmids:hover {
    opacity: 1;
    color: #3b3b3b;
  }
  .inmids h5:hover {
    color: white;
  }
  .industrial {
   background-color: white;
   color: white;
  }
 

  .industrial:hover {
    animation-name: ravis3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .inmids:hover{
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
    
  }
  .realEstate {
   background-color: white;
   color: white;
   
  }

  .realEstate:hover {
    animation-name: ravis3;
    animation-duration: 0.5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .museum {
   background-color: white;
   color: white;
   box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  }
 

  .museum:hover {
    animation-name: ravis3;
    animation-duration: 0.5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .gastronomy {
   background-color: white;
   color: white;
  }

  .gastronomy:hover {
    animation-name: ravis3;
    animation-duration: 0.5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
}

.industrial:hover{
  animation-name: ravis3;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes ravis3 {
  from {
    
    background-color: rgb(0, 0, 0);
  }
  to{
    border-radius: 70px;
    background-color: rgb(175, 73, 73);
    color: white;
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0);
  }
  
}
.realEstate:hover {
  animation-name: ravi1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes ravi1 {
  from {
    color: black;
    background-color: black;
  }
  to{
    border-radius: 70px;
    background-color: rgb(89, 156, 106);
    color: white;
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0);
    
  }
  
}
.museum:hover {
  animation-name: ravis;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes ravis {
  from {
    
    background-color: rgb(0, 0, 0);
  }
  to{
    border-radius: 70px;
    background-color: rgb(64, 102, 185);
    color: white;
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0);
  }
  
}
.infoot h2:current {
  background-color: red;
}
.gastronomy:hover {
  animation-name: ravi;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes ravi {
  from {
    
    background-color: rgb(0, 0, 0);
  }
  to{
    border-radius: 70px;
    background-color: rgb(224, 222, 60);
    box-shadow: 0px 0px 50px 50px rgb(0, 0, 0);
  }
  
}


.footer {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  font-size: 3vw;
  font-family: "Baloo 2", cursive;
  background-color: white;
  margin: auto;
  text-align: center;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 1200px) {
  .footer {
    font-size: 20px;
  }
}



.infoot {
  background-color: white;
  width: 100%;
  border: solid white 4px;
  margin: auto;
  border-radius: 40px;
}
.button {
  margin: 0% 35% 0% 0%;
}
.cons {
  background-color: white;
}
iframe {
  width: 100%;
  height: 93%;
 
}

/* * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
.mySlides {
  width: 100%;
  height: 80%;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /* position: absolute; */
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.container3 {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

form {
  margin-right: 20%;
}

.cons {
  margin: -10px 0px 0px 0px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}




/* FOR MOBILE MENU */

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  font-family: "Baloo 2", cursive;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}
.topnav .img {
  margin: 20px 150px 0px 0px;
  width: 50px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}